<!DOCTYPE HTML>

<html>
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
    <link rel="stylesheet" href="../static/bootStrap.css">
    <title>Favorite Recipe</title>
</head>
<body>
    <div class="container" align="center">
        <div class="jumbotron">
            <h1 align="center"><b>Welcome to My favorite Recipe</b></h1>
        </div>
    </div>
    <div class="container" align="center">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">Crab Cake</a></li>
                    <li><a href="#">Ginger Ale</a></li>
                    <li><a href="#">Cornbread</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container">
        <div class="bs-callout bs-callout-success">
            <table>
                <caption>My favorite recipe</caption>
                <tr><th>Recipe</th><th>ingredients</th></tr>
                <tr><td>Crab cakes</td><td>Crab Meat</td></tr>
                <tr><td>Ginger ale</td><td>Sugar, water</td></tr>
                <tr><td>Cornbread</td><td>Flour</td></tr>

            </table>
        </div>
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>